* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: darkcyan;
  padding: 1.5rem;
}

nav ul {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  margin-left: 30px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

nav a:hover {
  color: goldenrod;
}


.add-product
{
    margin: 10% auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.form-item
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.add-product label
{
    font-size: 25px;
}
.add-product input
{
  font-size:17px;
  padding: 5px;
  padding-left: 10px;
}

.btn
{
    color: darkcyan;
    font-weight: bold;
    background-color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    border-color:darkcyan ;
}

.books-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px;

}

.book
{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: 1px solid beige;
    padding: 10px;
    display: flex;
    gap: 20px;
    box-shadow: 2px;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;

}

.book .description
{

    max-width: 80%;
    
}



.book img
{
    width: 200px;

}

.btns-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

@media (max-width:450px)
{
  .books-container{
    gap: 50px;

  }

  .add-product
  {
    gap: 25px;
  }

  .book{
    width: 70%;
    
  }

  .book img
  {
    width: 150px;
  }

  nav ul
  {
    gap: 20px;

  }

}